.header-container{
    width: 50%;
    position: absolute;
    right: 0;
}

mat-list {
    display: flex;
    /* background-color: #ffd740;; */
}

mat-list-item {
    font-size: small;
    text-align: left;
}
