<div class="header-container">
  <mat-list>
    <ng-container *ngFor="let link of headerLinks">
      <mat-list-item>
        <a
          [routerLink]="['/' + link.route]"
          routerLinkActive="router-link-active"
        >
          <div class="link">
            <mat-icon fontIcon="{{ link.logo }}"></mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
      </mat-list-item>
    </ng-container>
    <app-login></app-login>
  </mat-list>
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>flag</mat-icon></mat-panel-title>
      <mat-panel-description>choose your country</mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let item of countries">{{ item }}</p>
  </mat-expansion-panel> -->
</div>
